<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloudnotes</title>
    <script type="text/javascript" src="cordova.js"></script>
    <script src="lib/node_modules/angular/angular.min.js"></script>
    <script src="lib/node_modules/onsenui/js/onsenui.min.js"></script>
    <script src="lib/node_modules/onsenui/js/angular-onsenui.min.js"></script>

    <script src="js/index.js"></script>
</head>
<body ng-controller="MainController">
    <ons-navigator var="navi" page="pre.html"></ons-navigator>
    <ons-template id="pre.html">
        <ons-page ng-controller="PreController">
            <div class="content">
                
            </div>
            <div class="background" style="background-color: #0597c4"></div>
    
        </ons-page>
    </ons-template>
    <ons-template id="loading.html">
        <ons-page ng-controller="LoadController">
            <div class="content">
            <div style="margin: 56px auto; width: 330px; position: relative">
                <p style="text-align: center; margin-top: 64px">
                    <img src="img/icon.png" style="width: 120px">
                </p>
                <p style="text-align: center; margin-top: 10px">
                    <label ng-if="loading" class="gray">Cargando
                        <ons-progress-circular indeterminate></ons-progress-circular>
                    </label>
                    <ons-button ng-if="!loading" ng-click="sign()" modifier=" quiet" class="bg-rojo blanco"> Entrar con
                        <ons-icon icon="fa-google" class="fa-2x"></ons-icon>oogle</ons-button>
                </p>
            </div>
            </div>
            <div class="background login-back"></div>
            
        </ons-page>
    </ons-template>
    <ons-template id="home.html">
        <ons-page ng-controller="HomeController">
            <ons-toolbar ng-class="searching?'bg-azul-light':'bg-blanco'">
                <div ng-if="!searching" class="left">
                    <img ng-click="userOpt.show($event.target)" ng-src="{{usuario.image}}" class="user-picture" alt="">
                </div>
                <div class="center">
                    <strong ng-show="!selection&&!searching" class="azul">Mis notas</strong>
                    <strong ng-show="selection&&!searching" class="azul">Seleccionar notas</strong>
                    <ons-search-input ng-model="searchText" ng-show="searching" style="margin-top: 4px" placeholder="Search"></ons-search-input>
                </div>
                <div class="right">
                    <ons-toolbar-button ng-if="selection&&!searching" class="azul" ng-click="deleteSelected()">
                        <ons-icon icon="ion-trash-a"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-if="selection&&!searching" class="azul" ng-click="quitSelection()">
                        <ons-icon icon="ion-android-close"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-if="!selection&&!searching" class="azul" ng-click="search();">
                        <ons-icon icon="ion-android-search"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-if="!selection&&!searching" class="azul center-al" ng-click="colorFilter.show($event.srcElement)">
                        <ons-icon icon="ion-android-funnel"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-if="searching" class="azul" ng-click="search();">
                        <ons-icon icon="ion-android-close"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <ons-row>
                <ons-col class="center-al" width="{{fw}}" ng-repeat="nota in notas | orderBy:['bg','text'] | filter: filters.bg | filter:searchText">
                    <ons-card ng-init="nota.selected=false" on-long-press="lp(nota)" ng-class="nota.selected?'bg-crema':'bg-blanco'" class="rounded">
                        <div style="overflow: hidden; text-overflow: ellipsis; max-height: 76px; display: block">
                            <ons-row>
                                <ons-col width="12px" vertical-align="top">
                                    <ons-icon ng-click="editarColor(nota,$event)" icon="ion-record" ng-class="'gris '+nota.bg"></ons-icon>
                                </ons-col>
                                <ons-col width="8px"></ons-col>
                                <ons-col ng-click="verNota(nota)" vertical-align="center">
                                     {{nota.text | split:'\n':0}}
                                    <!--{{property}} : {{value}}-->
                                    <span class="gris" ng-if="nota.text==''">Nota vacía</span>
                                </ons-col>
                            </ons-row>
                        </div>
                    </ons-card>
                </ons-col>
                <ons-col></ons-col>
            </ons-row>
            <ons-fab position="bottom right" ng-click="addNote()" class="blanco bg-verde">
                <ons-icon icon="md-plus"></ons-icon>
            </ons-fab>
            <ons-popover var="colorPicker" cancelable modifier="material">
                <ons-list>
                    <ons-list-header>Cambiar color</ons-list-header>
                    <ons-list-item tappable ng-click="nota.bg='a-e-gris'; colorPicker.hide(); storeFirebase()" class="gris bg-gris">gris</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-d-amarillo'; colorPicker.hide(); storeFirebase()" class="amarillo bg-amarillo">amarillo</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-c-verde'; colorPicker.hide(); storeFirebase()" class="verde bg-verde">verde</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-b-azul'; colorPicker.hide(); storeFirebase()" class="azul bg-azul">azul</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-a-rojo'; colorPicker.hide(); storeFirebase()" class="rojo bg-rojo">rojo</ons-list-item>
                </ons-list>
            </ons-popover>
            <ons-popover var="colorFilter" cancelable modifier="material">
                <ons-list>
                    <ons-list-header>Filtrar por color</ons-list-header>
                    <ons-list-item tappable ng-click="filters.bg='a-e-gris'; colorFilter.hide();" class="gris bg-gris">gris</ons-list-item>
                    <ons-list-item tappable ng-click="filters.bg='a-d-amarillo'; colorFilter.hide();" class="amarillo bg-amarillo">amarillo</ons-list-item>
                    <ons-list-item tappable ng-click="filters.bg='a-c-verde'; colorFilter.hide();" class="verde bg-verde">verde</ons-list-item>
                    <ons-list-item tappable ng-click="filters.bg='a-b-azul'; colorFilter.hide();" class="azul bg-azul">azul</ons-list-item>
                    <ons-list-item tappable ng-click="filters.bg='a-a-rojo'; colorFilter.hide();" class="rojo bg-rojo">rojo</ons-list-item>
                    <ons-list-item tappable ng-click="filters.bg=''; colorFilter.hide();" class="bg-white">Todos</ons-list-item>
                </ons-list>
            </ons-popover>
            <ons-popover var="userOpt" cancelable modifier="material">
                <ons-list>
                    <ons-list-item tappable ng-click="userOpt.hide();" class="bg-white">
                        <ons-button ng-click="salir()" class="bg-azul" style="margin: 0 auto">Cerrar sesión</ons-button>
                    </ons-list-item>
                </ons-list>
            </ons-popover>
        </ons-page>
    </ons-template>
    <ons-template id="nota.html">
        <ons-page ng-controller="NotaController">
            <ons-toolbar modifier="transparent">
                <div class="left">
                    <ons-toolbar-button class="azul" ng-click="navi.popPage()">
                        <ons-icon icon="ion-arrow-left-c"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">
                    <strong class="azul">Editar nota</strong>
                </div>
                <div class="right">
                    <ons-toolbar-button class="azul" ng-click="ncolorPicker.show($event.srcElement)">
                        <ons-icon ng-class="nota.bg" icon="fa-circle"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button class="azul" ng-click="edit?edit=false:edit=true">
                        <ons-icon ng-show="edit" icon="ion-android-done"></ons-icon>
                        <ons-icon ng-show="!edit" icon="ion-android-create"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <textarea placeholder="Nota vacía" ng-readonly="!edit" ng-change="storeFirebase()" ng-model-options="{debounce: 750}" ng-blur="storeFirebase()" ng-model="nota.text" style="height:  calc(100% - 18px); width: calc(100% - 16px); display: block; border: none; font-size: 16px; padding: 8px; background-color: transparent" ></textarea>
            <ons-popover var="ncolorPicker" cancelable modifier="material">
                <ons-list>
                    <ons-list-header>Cambiar color</ons-list-header>
                    <ons-list-item tappable ng-click="nota.bg='a-e-gris'; ncolorPicker.hide(); storeFirebase()" class="gris bg-gris">gris</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-d-amarillo'; ncolorPicker.hide(); storeFirebase()" class="amarillo bg-amarillo">amarillo</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-c-verde'; ncolorPicker.hide(); storeFirebase()" class="verde bg-verde">verde</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-b-azul'; ncolorPicker.hide(); storeFirebase()" class="azul bg-azul">azul</ons-list-item>
                    <ons-list-item tappable ng-click="nota.bg='a-a-rojo'; ncolorPicker.hide(); storeFirebase()" class="rojo bg-rojo">rojo</ons-list-item>
                </ons-list>
            </ons-popover>
        </ons-page>
    </ons-template>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <link rel="stylesheet" href="lib/node_modules/onsenui/css/onsenui.min.css" />
    <link rel="stylesheet" href="lib/node_modules/onsenui/css/onsen-css-components.min.css" />
    <link rel="stylesheet" href="css/colores.css" />
    <link rel="stylesheet" href="css/index.css" />
</body>
</html>