.gris, .a-e-gris {
    color: #ccc;
}
.rojo, .a-a-rojo{
    color: #E03043;
}
.amarillo, .a-d-amarillo{
    color: #EAB643;
}
.crema{
    color: #F8EACC;
}
.blanco{
    color: snow;
}
.verde, .a-c-verde{
    color: #00b673;
}
.azul, .a-b-azul{
    color: #08ACDE;
}
.gris-dark{
    color: #807f81;
}

.bg-transparent {
    background-color: transparent;
}

.bg-rojo {
    background-color: #E03043;
}

.bg-amarillo {
    background-color: #EAB643
}

.bg-crema {
    background-color: #F8EACC;
}

.bg-blanco{
    background-color: snow;
}

.bg-verde {
    background-color: #00b673;
}

.bg-azul {
    background-color: #08ACDE;
}

.bg-azul-light {
    background-color: #dbf2f9;
}

.bg-gris {
    background-color: #ccc;
}
.bg-gris-dark{
    background-color: #807f81;
}