.left-al{
    text-align: left
}
/*.modal{
overflow-y: auto;
}*/
.elipsis{
    display: inline-block;
max-width: 180px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
vertical-align: top
}
.bordes-azules{
    border: solid 1px #08ACDE;
}
.underlined{
    text-decoration: underline;
}
.rounded{
    border-radius: 16px;
}
.rounded-small{
    border-radius: 8px;
}
.center-al{
    text-align: center;
}
.right-al {
    text-align: right;
}
.tarjeta{
    width: calc(100% - 16px);
    max-height: 160px;
    display: inline-block;
    margin: 8px;
    text-overflow:ellipsis;
}
.input{
    height: 16px;
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 8px;
    border: solid 2px #ccc;
    font-size: 18px;
}
.padding{
    padding: 8px;
}
.textarea-editor{
    height: calc(100% - 64px);
    width: calc(100% - 16px);
    margin-top: 16px;
    border-radius: 8px;
    border: solid 2px #ccc;
    font-size: 16px;
    padding: 8px;
    resize: none;
}
.grande{
    font-size: 21px;
}
.mid{
    font-size: 16px;
}

.avatar {
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: .5s;
    margin-top: 6px;
    position: absolute
}

.avatar:active {
    filter: opacity();
}
.fondo{
    background-image: url("../img/nota-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.portada{
    height: 100%;
    width: 100%;
     display: block;
    background: radial-gradient(at bottom left, rgba(8, 172, 222, .16), rgba(8, 172, 222, .72));
}
.big{
    font-size: 64px;
    font-stretch: ultra-condensed;
    font-weight: 560;
}
.tappable{
    cursor: pointer;
}
.tappable:active{
    opacity: .5;
}
.movable:hover{
    cursor: -webkit-grab;
}
.card-2{
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transform > * {
    opacity: 0; 
    position: absolute;
  top: -9999px;
  left: -9999px;
  transition: all .8s ease-out;
}

.transform-active > * {
  opacity: 1;
  position: relative;
  transition: all .4s ease-in;
}

.transform2 {
    opacity: 0; 
    position: absolute;
  top: -9999px;
  left: -9999px;
  transition: all .8s ease-out;
}

.transform2-active {
  opacity: 1;
  position: relative;
  transition: all .4s ease-in;
}

.login-back{
    background-image: url('../img/back.jpg');
    background-size: cover;
    filter: blur(1px);
}
.user-picture{
    height: 30px; position: absolute; top: 12px;
    transition: .24s;
    border-radius: 50%;
    left: 16px;;
}
.user-picture:active{
    opacity: .24;
}